@using WebsiteBanSach.Models;
@model List<ChuDe>

<style>
    .item-cd {
        color: black;
        width: 100px;
    }

    #section {
        height: 150px;
        margin-bottom: 4%;
        width: 440px;
    }

    .dropdown-item:active {
        background-color: white;
    }
    .div-filter-cate{
        display:grid;

    }
    a:hover{

    }
</style>
<section id="section">    
        <div class="div-filter-cate" style="display:grid; line-height:40px;width:fit-content">
            @{                
                //int y = 0;
                foreach (var item in Model)
                {
                    
                    <span>
                        <a href="@Url.Action("SachTheoChuDe", new { @machude = item.MaChuDe })" style="float:left; color:black; font-size:13px">@item.TenChuDe</a>
                    </span>                                                                                               
                }
            }
        </div>
</section>



